$color-black: #000000;
$color-white: #ffffff;
$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;
$color-dark-first: #545454;
$color-dark-second: #cdcdcd;
$background: url(../assets/img/noise_transparent@2x.png),
  radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
  #211f20;
$color-background-second: #f6f6f6;
$color-black: #000000;
$content-width: 1197px;
$tablet-width: 1279px;
$mobile-width: 767px;
$backgound-burger: #292929;
$left-right-padding-wrapper-mobile: 10px;
